{% extends "std_base.html" %}
{% block body %}

    <div style="margin-left: 37%;margin-top:5%;width: 400px;">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 30px;">
                学生用户加入群组
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>输入群组名</label>
                        <input class="form-control" type="text" name="chat_name" required="required">
                        <p class="help-block">请填写要加入群组的名字.</p>
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input class="form-control"  name="std_name" type="text" required="required"/>
                       <p class="help-block">请输入你的姓名</p>
                    </div>
                     <div class="form-group">
                        <label>老师</label>
                        <input class="form-control"  name="teacher" type="text" required="required"/>
                       <p class="help-block">请输入群组的老师</p>
                    </div>

                    <button type="submit" class="btn btn-info" style="width: 170px;">加入 </button>
                    <button  class="btn btn-info" style="margin-left:20px;width: 170px;" id = "button">返回</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function(){
            var button = $("#button");
            button.click(function(){
                setTimeout('jumpurl()',1);
            });
        });
        function jumpurl(){
            location='/Student/handler/';
        }
    </script>
{% endblock %}



{#<form method="post" enctype="multipart/form-data">#}
{#    <input type="hidden" name="csrfmiddlewaretoken" value="8xrF5k9GrdqE1WOuzL5Kd71wqdUaXMBLFxZuiUf511TghARhNPDsn5xuhWQ17nBs">#}
{#    <p><label for="id_chat_name">群组名:</label> <input id="id_chat_name" maxlength="100" name="chat_name" type="text" required=""></p>#}
{#<p><label for="id_std_name">名字:</label> <input id="id_std_name" maxlength="100" name="std_name" type="text" required=""></p>#}
{#<p><label for="id_teacher">老师:</label> <input id="id_teacher" maxlength="100" name="teacher" type="text" required=""></p>#}
{#    <input type="submit" value="ok">#}
{#</form>#}