<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>

{% if username %}
    <h1>welcome {{username}} !</h1>
        <a href="/Student/login/">学生登陆</a>
    <a href="/Student/regist/">学生注册</a>
    <a href="/Student/addchat/">加入群组</a>
    <a href="/Student/stdarri/">学生签到</a>

    <a href="/Teacher/login/">老师登录</a>
    <a href="/Teacher/regist/">老师注册</a>
    <a href="/Teacher/crechat/">创建群组</a>
    <a href="/Teacher/puarri/">发布签到</a>
    <a href="/Teacher/printdelarri/">打印并删除签到情况</a>
    <a href="/logout/">退出</a>
    {% else %}
    <h1>亲！你还没登陆呢！</h1>
    <a href="/Student/login/">10秒后系统会自动跳转，也可点击本处直接跳</a> </div></div></div>
<script>
function jumpurl(){
  location='/Student/login/';
}
setTimeout('jumpurl()',10000);
</script>
    <br/>
    <a href="/Student/login/">学生登陆</a>
    <a href="/Student/regist/">学生注册</a>
    <a href="/Student/addchat/">加入群组</a>
    <a href="/Student/stdarri/">学生签到</a>

    <a href="/Teacher/login/">老师登录</a>
    <a href="/Teacher/regist/">老师注册</a>
    <a href="/Teacher/crechat/">创建群组</a>
    <a href="/Teacher/puarri/">发布签到</a>
    <a href="/Teacher/printdelarri/">打印并删除签到情况</a>

    <a href="/logout/">登出</a>
{% endif %}
<br>

</body>
</html>