{% extends "tch_base.html" %}
{% block body %}

    <div style="margin-left: 37%;margin-top:5%;width: 400px;">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 30px;background-color:#c1e2b3;color:#FFFFFF;">
                发布签到
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>签到标题</label>
                        <input class="form-control" type="text" name="title" required="required">
                        <p class="help-block">填写本次签到的名称</p>
                    </div>
                    <div class="form-group">

                        <label>群组名字</label>
                        <select class="form-control"  name="chat" required="required">
                            {% for item in chat_list %}
                                <option>{{ item }}</option>
                            {% endfor %}
                        </select>
{#                        <input class="form-control" type="text" name="chat" required="required">#}
                        <p class="help-block">填写本次签到归属的群组</p>
                    </div>
                    <div class="form-group">

                        <label>教师名字</label>
                        <input class="form-control" type="text" name="teacher" required="required" value="{{ teacher_name }}">
                        <p class="help-block">填写发布签到的教师名字</p>
                    </div>
                    <div class="form-group">
                        <label>输入标识符</label>
                        <input class="form-control"  name="sign" type="text" required="required"/>
                        <p class="help-block">牢记本次签到的标识符,课堂上及时通知学生</p>
                    </div>

                    <button type="submit" class="btn btn-info" style="width: 170px;">发布 </button>
                    <button  class="btn btn-info" style="margin-left:20px;width: 170px;" id = "button">返回</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function(){
            var button = $("#button");
            button.click(function(){
                setTimeout('jumpurl()',1);
            });
        });
        function jumpurl(){
            location='/Teacher/handler/';
        }
    </script>
{% endblock %}



{#<form method="post" enctype="multipart/form-data">#}
{#    <input type="hidden" name="csrfmiddlewaretoken" value="4roPHeuRFP4GjxLofFKpJbCpwAWuXLT0BrWEUOAgfDxizbObtJi7T98nnjSl7mTH">#}
{#    <p><label for="id_title">标题:</label> <input id="id_title" maxlength="100" name="title" type="text" required=""></p>#}
{#<p><label for="id_chat">群组名:</label> <input id="id_chat" maxlength="100" name="chat" type="text" required=""></p>#}
{#<p><label for="id_teacher">老师:</label> <input id="id_teacher" maxlength="100" name="teacher" type="text" required=""></p>#}
{#<p><label for="id_sign">标识符:</label> <input id="id_sign" maxlength="100" name="sign" type="text" required=""></p>#}
{#    <input type="submit" value="ok">#}
{#</form>#}