{% extends "std_base.html" %}
{% block body %}


     <div style="margin-left: 37%;margin-top:5%;width: 400px;">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 30px;">
                学生用户注册
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>输入用户名</label>
                        <input class="form-control" type="text" name="username" required="required">
                        <p class="help-block">请牢记注册时的用户名.</p>
                    </div>

                    <div class="form-group">
                        <label>输入姓名</label>
                        <input class="form-control" type="text" name="name" required="required">
                        <p class="help-block">请输入真实姓名.</p>
                    </div>

                    <div class="form-group">
                        <label>输入学号</label>
                        <input class="form-control" type="number" name="std_id" required="required">
                        <p class="help-block">请输入真实学号.</p>
                    </div>

                    <div class="form-group">
                        <label>输入密码</label>
                        <input class="form-control"  name="passwd" type="password" required="required"/>
{#                        <p class="help-block">Help text here.</p>#}
                    </div>

                    <div class="form-group">
                        <label>重复密码</label>
                        <input class="form-control"  name="passwd2" type="password" required="required"/>
{#                        <p class="help-block">Help text here.</p>#}
                    </div>

                    <button type="submit" class="btn btn-info" style="width: 170px;">注册 </button>
                    <button  class="btn btn-info" style="margin-left:20px;width: 170px;" id = "button">返回登录</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function(){
            var button = $("#button");
            button.click(function(){
                setTimeout('jumpurl()',1);
            });
        });
        function jumpurl(){
            location='/Student/login/';
        }
    </script>

{#<form method="post" enctype="multipart/form-data">#}
{#    <input type="hidden" name="csrfmiddlewaretoken" value="dDx5s24DkpoKC1wkHr79zpCclDQ9oUdSKD5UFCa2UdRmSFz7VvFRJn8acmM0yvdz">#}
{#    <p><label for="id_username">用户名:</label> <input id="id_username" maxlength="100" name="username" type="text" required=""></p>#}
{#<p><label for="id_name">姓名:</label> <input id="id_name" maxlength="100" name="name" type="text" required=""></p>#}
{#<p><label for="id_std_id">学号:</label> <input id="id_std_id" name="std_id" type="number" required=""></p>#}
{#<p><label for="id_passwd">密    码:</label> <input id="id_passwd" name="passwd" type="password" required=""></p>#}
{#<p><label for="id_passwd2">再次输入:</label> <input id="id_passwd2" name="passwd2" type="password" required=""></p>#}
{#    <input type="submit" value="ok">#}
{#</form>#}

{% endblock %}
</body>
</html>