{% extends "tch_base.html" %}
{% block body %}

    <div style="margin-left: 37%;margin-top:5%;width: 400px;">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 30px;background-color:#c1e2b3;color:#FFFFFF;">
                教师用户登录
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>输入用户名</label>
                        <input class="form-control" type="text" name="username" required="required">
                        <p class="help-block">请填写注册时的用户名（非姓名）.</p>
                    </div>
                    <div class="form-group">
                        <label>输入密码</label>
                        <input class="form-control"  name="passwd" type="password" required="required"/>
{#                        <p class="help-block">Help text here.</p>#}
                    </div>

                    <button type="submit" class="btn btn-info" style="width: 170px;">登录 </button>
                    <button  class="btn btn-info" style="margin-left:20px;width: 170px;" id = "button">注册</button>
                    <div style="margin-top: 10px;margin-left: 75%; "><a href="#" >忘记密码？</a></div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function(){
            var button = $("#button")
            button.click(function(){
                setTimeout('jumpurl()',1);
            });
        });
        function jumpurl(){
            location='/Teacher/regist/';
        }
    </script>
{% endblock %}